<extends src="layouts/base.html">
  <block name="title">
    <title>
      Basics Boilerplate - Mortensen Hiring Test
    </title>
  </block>
  <block name="content">

    <include src="components/slider.html"></include>
    <include src="components/text.html"></include>

  </block>
</extends>
